body { 
    /* background-color: #ddd; old Background color */
    /* color: #222;	         old text color */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 17px; 
	line-height: 1.42857143;
	color: #c8c8c8;
	background-color: #272b30;
    margin: 0;
    padding: 0;
}

a {
	color: #ffffff;
	text-decoration: none;
}

.container {
	width: 100%;
	margin-right: 0px;
	margin-left: 0px;	
	padding-left: 0px;
	padding-right: 0px;
}

nav {
	width: 100%;
}


.form-group {
	margin-top: 10px;
}

textarea {
	display: block;
	height: 100px;
}

label, button {
	/*
	display: block;
	*/
	margin-bottom: 5px;	
	font-weight: bold;
}

.btn {
	display: inline-block;
	margin-bottom: 5;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 8px 12px;
	line-height: 1.42857143;
	border-radius: 8px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.btn-primary {
	color: #ffffff;
	background-color: #7a8288;
	border-color: #7a8288;
}

input {
    padding-left: 12px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

input[type=radio] {
	width: 20px;
	height: 20px;
	display: inline;
}

input[type=file] {
	height: 40px;
}

select, input, button {
	display: block;
	height: 40px;
	/*
	line-height: 40px;
	*/
	border-radius: 8px;
}

label.mobRadio {
	font-weight: normal;
	display: inline;
}

#header h1 {
    margin: 0;
    padding: 0;
}

#header h1 a {
    background-color: #ccc;
    border-bottom: 1px solid #666;
    color: #222;
    display: block;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
}

#header h1 a {
    text-shadow: 0px 1px 1px #fff;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#ccc),to(#999));
}

#header ul {
    list-style: none;
    margin: 10px;
    padding: 0;
}

#header ul li a {
    background-color: #FFFFFF;
    border: 1px solid #999999;
    color: #222222;
    display: block;
    font-weight: bold;
    margin-bottom: -1px;
    padding: 12px 10px;
    text-decoration: none;
}

#header ul li:first-child a {
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}

.newFirstChild {
	-webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}

#header ul li:last-child a {
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
}

#header ul.hide {
    display: none;
}

.container {
    padding: 0px;
}

#footer {
    display: none;
}

#header div.leftButton {
    position: absolute;
    top: 5px;
    left: 5px;
    height: 25px;
    text-align: center;
	text-shadow: 0 1px 1px #fff;	
	font-weight: bold;
	line-height: 25px;
	vertical-align: middle;	
	padding: 8px 12px;	
    color: black;
    border-width: 2px 8px 0 8px;
	border-radius: 8px;
	border-color: #dbdbdb;
	background-color: #cccccc;
	margin-bottom: 0;	
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	white-space: nowrap;
	box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.35);
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

#header div.pressed {
	background-color: #e0e0e0;
	border-color: #ccc;
  	outline: 0;
	box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.35);
}

/* FROM BOOTSTRAP */

.panel {
	margin: 5px;
	background-color: #2e3338;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-primary {
	border-color: rgba(0, 0, 0, 0.6);
}
.panel-primary > .panel-heading {
	color: #ffffff;
	background-color: #7a8288;
	border-color: rgba(0, 0, 0, 0.6);
}

.panel-primary > .panel-heading + .panel-collapse > .panel-body {
	border-top-color: rgba(0, 0, 0, 0.6);
}
.panel-primary > .panel-heading .badge {
	color: #7a8288;
	background-color: #ffffff;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
	border-bottom-color: rgba(0, 0, 0, 0.6);
}

.panel-body {
	padding: 15px;
}
.panel-heading {
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

.panel-title {
	margin-top: 0;
	margin-bottom: 0;
	color: inherit;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,  th {
	padding: 0;
}

.table-striped > tbody > tr:nth-of-type(odd) {
	background-color: ##353a41;
}

table {
	background-color: #2e3338;
}

th {
	text-align: left;
}
.table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
}
.table > thead > tr > th,  .table > tbody > tr > th,  .table > tfoot > tr > th,  .table > thead > tr > td,  .table > tbody > tr > td,  .table > tfoot > tr > td {
	padding: 8px;
	line-height: 1.42857143;
	vertical-align: top;
	border-top: 1px solid #1c1e22;
}
.table > thead > tr > th {
	vertical-align: bottom;
	border-bottom: 2px solid #1c1e22;
}
.table > caption + thead > tr:first-child > th,  .table > colgroup + thead > tr:first-child > th,  .table > thead:first-child > tr:first-child > th,  .table > caption + thead > tr:first-child > td,  .table > colgroup + thead > tr:first-child > td,  .table > thead:first-child > tr:first-child > td {
	border-top: 0;
}
.table > tbody + tbody {
	border-top: 2px solid #1c1e22;
}
.table .table {
	background-color: #272b30;
}

.form-horizontal .radio,  .form-horizontal .checkbox,  .form-horizontal .radio-inline,  .form-horizontal .checkbox-inline {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 9px;
}
.form-horizontal .radio,  .form-horizontal .checkbox {
	min-height: 29px;
}
.form-horizontal .form-group {
	margin-left: 5px;
	margin-right: 5px;
}

fieldset {
	padding: 0;
	margin: 5px;
	border: 0;
	min-width: 0;
}

legend {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 20px;
	font-size: 21px;
	line-height: inherit;
	color: #c8c8c8;
	border: 0;
	border-bottom: 1px solid #1c1e22;
}

.form-control {
	display: block;
	width: 100%;
	height: 38px;
	padding: 8px 12px;
	line-height: 1.42857143;
	color: #272b30;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
 .form-control::-moz-placeholder {
 color: #7a8288;
 opacity: 1;
}
 .form-control:-ms-input-placeholder {
 color: #7a8288;
}
 .form-control::-webkit-input-placeholder {
 color: #7a8288;
}
.form-control[disabled],  .form-control[readonly],  fieldset[disabled] .form-control {
	background-color: #999999;
	opacity: 1;
}
.form-control[disabled],  fieldset[disabled] .form-control {
	cursor: not-allowed;
}
textarea.form-control {
	height: auto;
}

.form-group {
	margin-bottom: 15px;
}

@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('//roxorsoxor.com/js/bootstrap/fonts/glyphicons-halflings-regular.eot');
	src: url('//roxorsoxor.com/js/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('//roxorsoxor.com/js/bootstrap/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('//roxorsoxor.com/js/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'), url('//roxorsoxor.com/js/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('//roxorsoxor.com/js/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.alert {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
}

.alert-success {
	background-color: #62c462;
	border-color: #62bd4f;
	color: #ffffff;
}