/*
  **********************************************************************
  **********************************************************************
  *** Purpose........: CSS stylesheet
  *** Page Type......: Text Page(s) - Prose and Poetry
  *** XHTML/CSS by...: Jeffrey A. Savoye
  *** Last Update....: April 16, 2018
  **********************************************************************
  **********************************************************************
 */
div.variant{
    background-color:#f9fce6;
    color:blue;
}
div.versions{
    text-align:justify;
    padding:20px;
    padding-left:0px;
    padding-top:0px;
}
div.nofeed{
    margin:0px;
    padding:0px;
}
/* Area for Mottoes/Epigraphs */
div.motto{
    text-align:left;
    padding:0px;
    margin-left:auto;
    margin-right:auto;
    min-width:5em;
}
div.quotetxt{
    text-align:left;
    padding:0px;
    margin-left:auto;
    margin-right:auto;
    min-width:5em;
}
div.quotepoem{
    text-align:left;
    padding:0px;
    margin-top:1em;
    margin-left:auto;
    margin-right:auto;
    min-width:5em;
}
div.astrline{
    text-align:center;
    padding:0px;
    padding-left:1em;
    margin-left:auto;
    margin-right:auto;
    min-width:5em;
}
div.astrlinew{
    text-align:center;
    padding:0px;
    padding-left:1em;
    margin-left:auto;
    margin-right:-6em;
    min-width:5em;
}
div.colsection{
    clear:both;
    float:left;
    width:100%;
    overflow:hidden;
}
div.col2l,
div.col2r{
    float:left;
    position:relative;
    margin:0px;
    padding:0px;
    width:48%;
    overflow:hidden;
}
div.col2g{
    float:left;
    position:relative;
    text-align:center;
    padding:0 0 1em 0;
    width:4%;
    overflow:hidden;
}
div.col3l,
div.col3m,
div.col3r{
    float:left;
    position:relative;
    margin:0px;
    padding:0px;
    width:30%;
    overflow:hidden;
}
div.col3g{
    float:left;
    position:relative;
    padding:0 0 1em 0;
    width:5%;
    overflow:hidden;
}
h1.navttl{
    display:inline;
    font-size:xx-large;
    font-weight:bold;
    font-style:normal;
    text-align:justify;
}
h1.txtinfo{
    display:inline;
    font-size:medium;
    font-weight:bold;
    text-align:left;
}
h1.txtsbttl{
    font-size:large;
    font-weight:normal;
    text-align:center;
}
h1.pmttl{
    font-size:x-large;
    font-weight:normal;
    text-align:center;
}
h1.pmtitle{
    font-size:x-large;
    font-weight:normal;
    text-align:center;
}
h1.mainttl{
    display:inline;
    font-size:xx-large;
    font-weight:bold;
    font-style:italic;
    text-align:center;
}
h1.mainttlb{
    font-size:xx-large;
    font-weight:bold;
    font-style:italic;
    padding:5px;
    border:solid 1px #000;
    border-style:double;
    border-color:#006400;
    height:auto;
    text-align:center;
}
h1.navttl{
    display:inline;
    font-size:medium;
    font-weight:bold;
    text-align:justify;
}
h2.byline{
    font-size:medium;
    font-weight:normal;
    text-align:center;
}
h2.section{
    font-size:x-large;
    font-weight:normal;
    font-style:italic;
    text-align:left;
}
h2.txtsbttl{
    font-size:large;
    font-weight:normal;
    text-align:center;
}
h3.footnotes{
    font-size:large;
    font-weight:normal;
    text-align:center;
}
div.ltrdate{
    font-size:medium;
    padding:0px;
    margin:0px;
    width:auto;
    text-align:right;
}
div.ltrsig{
    font-size:medium;
    padding:0px;
    margin:0px;
    width:auto;
    text-align:right;
}
div.ltrnote{
    font-size:medium;
    padding:0px;
    padding-left: 1em;
    margin:0px;
    width:auto;
    text-align:justify;
}
li.noind{
    list-style-type:circle;
    margin-left:-1em;
}
p.flind4{
    font-size:medium;
    text-indent:1.5em;
}
p.hanging4{
    font-size:medium;
    text-indent:-1.5em;
    padding-left:1.5em;
}
p.ltrsalun{
    font-size:medium;
    text-align:left;
}
p.ltrdate{
    font-size:medium;
    padding:0px;
    margin:0px;
    width:auto;
    text-align:right;
}
p.ltrsig{
    font-size:medium;
    padding:0px;
    margin:0px;
    width:auto;
    text-align:right;
}
p.navline{
    display:inline;
    font-size:small;
    font-weight:bold;
    text-align:left;
}
p.oneline{
    margin:-1em;
    padding:0px;
    text-align:right;
}
p.nofeed{
    margin:0px;
    padding:0px;
}
p.nofeedw{
    margin:0px;
    padding:0px;
    margin-right:-6em;
    max-width:110%;  
    padding-right:2em;
}
p.wideline{
    margin-right:-6em;
    max-width:110%;  
    padding-right:2em;
}
p.pmtitle{
    text-align:center;
    padding:0px;
}
p.pmbyline{
    text-align:center;
    padding:0px;
}
p.pmline{
    margin:0px;
    margin-left:2em;
    text-indent:-2em;
    padding:0px;
}
p.pmlinew{
    margin:0px;
    margin-left:2em;
    margin-right:-6em;
    max-width:110%;  
    text-indent:-2em;
    padding:0px;
    padding-right:2em;
}
p.pmlinec{
    margin:0px;
    margin-left:9em;
    text-indent:-8em;
    padding:0px;
}
p.pmright{
    text-align:right;
}
p.pmlnum{
    float:left;
    margin:0px;
    margin-left:-3em;
    margin-right:-2em;
    text-align:left;
    padding:0px;
}
p.pmnts{
    float:right;
    margin:0px;
    margin-left:2em;
    margin-right:-2em;
    padding:0px;
}
p.pmvars{
    float:right;
    margin:0px;
    margin-left:2.5em;
    margin-right:-5.5em;
    padding:0px;
}
p.pmsec{
    margin:0px;
    padding:0px;
    text-align:center;
}
p.pmbreak{
    margin:0px;
    padding:0px;
    margin-right:3em;
    text-align:center;
}
p.pmoline{
    font-size:medium;
    font-weight:normal;
    text-align:center;
    padding-right:5em;
}
p.ornline{
    font-size:medium;
    font-weight:normal;
    text-align:center;
    margin:0px;
    padding:0px;
}
p.spacer{
    display:block;
    font-size:xx-small;
    text-align:left;
    line-height:1.5em;
    margin:-1em;
}
p.stnznbr{
    font-size:medium;
    font-weight:normal;
    text-align:center;
}
p.fixline{
    display:block;
    padding:2px;
    margin:1px;
    font-size:medium;
    font-weight:normal;
    text-align:center;
    clear:both;
}
p.txtbox{
    border:none;
    margin:0px;
    margin-bottom:3px;
    padding:20px;
    text-align:justify;
}
a.txtvars{
    color:green;
}
a.txtnte{
    color:blue;
}
span.smcaps{
    font-size:60%;
}
span.smcaps80{
    font-size:80%;
}
span.seprline{
    background-color:#f9fce6;
    color:#006400;
    display:block;
    padding:2px;
    border:solid 1px #000;
    border-style:double;
    border-color:#006400;
    margin:1px;
    font-size:medium;
    font-weight:normal;
    text-align:center;
}
span.pmlnumc{
    font-weight: bold;
    padding-right: .5em;
}
span.variant{
    background-color:#f9fce6;
    color:blue;
}
#spaceline{
    font-size:xx-small;
    padding:1px;
}
/*
  **********************************************************************
  *** Panel Divisions
  **********************************************************************
 */
/* Navigation and Title Area */
#pnlnav00{
    padding:3px;
    border:solid 1px #000;
    border-color:#006400;
    background-color:#f9fce6;
    color:#000;
    margin:0px;
    min-width:50px;
    max-width:1000px;
}
#pnlnav01{
    padding:3px;
    border:solid 1px #000;
    background-color:#006400;
    border-style:double;
    border-color:#006400;
    background-color:#f9fce6;
    color:#000;
    margin:0px;
}
#pnlnav02{
    padding:3px;
    border:solid 1px #000;
    background-color:#006400;
    color:#000;
    margin:0px;
}
#pnlnav03{
    padding:3px;
    border:solid 1px #000;
    border-style:double;
    border-color:#006400;
    background-color:#f9fce6;
    color:#000;
    margin:0px;
}
#pnlnavm{
    border:solid 1px #000;
    border-style:double;
    border-color:#006400;
    padding:10px;
    padding-top:25px;
    padding-bottom:5px;
    background-color:#f9fce6;
    color:#000;
    margin:1px;
    margin-top:3px;
    font-size:medium;
    text-align:justify;
}
#pnlnavttl{
    padding:10px;
    padding-top:20px;
    padding-bottom:4px;
}
/* Main Area - for Prose Text */
div.pnltextm{
    background-color:#f9fce6;
    border-radius:10px;
    color:#000;
    margin:0px;
    padding:20px;
    padding-top:10px;
    padding-left:30px;
    padding-right:30px;
    text-align:justify;
}
div.pnltextlft{
    background-color:#f9fce6;
    border-radius:10px;
    color:#000;
    float:left;
    margin:0px;
    padding:20px;
    padding-top:10px;
    padding-left:30px;
    padding-right:30px;
    text-align:justify;
} /* Main Area - for Letter Text */
div.pnlltrm{
    border-color:#006400;
    background-color:#f9fce6;
    border-radius:10px;
    color:#000;
    margin:0px;
    padding:80px;
    padding-top:50px;
    text-align:justify;
}
/* Main Area - for Poetry */
div.pnlpoem0{
    text-align:left;
    border-radius:10px;
    padding:0px;
    margin-left:auto;
    margin-right:auto;
    min-width:5em;
}
div.pnlpoemm{
    background-color:#f9fce6;
    border-radius:10px;
    color:#000;
    font-size:medium;
    font-weight:normal;
    padding:5em;
    padding-top:1em;
    padding-left:8em;
    margin-left:0px;
    margin-right:0px;
    text-align:left;
    width:auto;
}
/*
  **********************************************************************
  *** Overrides for Mobile
  ********************************************************************** 
  * 
*/
@media screen and (max-width: 800px){
div.pnlpoem0{
    text-align:left;
    padding-left: 0px !important;
    margin-left:5px;
    margin-right:5px;
    max-width: 100% !important;
    min-width:5em;
}
div.pnlpoemm{
    background-color:#f9fce6;
    border-radius:10px;
    color:#000;
    font-size:medium;
    font-weight:normal;
    padding:5em;
    padding-top:1em;
    padding-left:0px !important;
    padding-right:0px !important;
    margin-left:0px;
    margin-right:0px;
    max-width: 100% !important;
    text-align:left;
    width:auto;
}
div.quotetxt{
    padding-left:0px !important;
    padding-right: 0px !important;
    margin-left:auto !important;
    margin-right:auto !important;
}
div.quotepoem{
    padding-left:1em !important;
    padding-right:1em !important;
    min-width:5em;
}
p.pmline{
    margin-left:1em;
    margin-right: 1em !important;
    text-indent:-2em;
    padding:0px;
}
p.pmlnum{
    float:left;
    margin:0px;
    margin-left:-3em;
    margin-right:-2em;
    text-align:left;
    padding:0px;
    padding-left: 8px;
}
p.pmnts{
    float:right;
    margin:0px;
    margin-left:0px;
    margin-right:0px;
    padding:0px;
}
p.pmvars{
    float:right;
    margin:0px;
    margin-left:5px;
    margin-right:0px;
    padding:0px;
}
}
@media screen and (max-width: 650px){
div.astrlinew{
    text-align:center;
    padding:0px;
    margin-left:0px;
    margin-right:0px;
}
p.nofeedw{
    margin-right:2em;
    max-width:110%;  
    padding:0px;
}
p.wideline{
    margin-right:2em;
    max-width:110%;  
    padding:0px;
}
p.pmlinew{
    margin:0px;
    margin-left:2em;
    margin-right:2em;
    max-width:110%;  
    text-indent:-2em;
    padding:0px;
}
}
/*
  **********************************************************************
  **********************************************************************
  *** END
  **********************************************************************
  **********************************************************************
 */