/*
  **********************************************************************
  **********************************************************************
  *** Purpose........: CSS stylesheet
  *** Page Type......: Printing Overrides
  *** Version........: 01
  *** XHTML/CSS by...: Jeffrey A. Savoye
  *** Last Update....: March 28, 2014
  **********************************************************************
  **********************************************************************
 */
* {
    border-color : black;
}
/*
  **********************************************************************
  *** Div classes
  **********************************************************************
 */
div,
p,
h1,
h2,
h3 {
    page-break-before : auto;
    page-break-after : auto;
    page-break-inside : auto;
}
div.pagebrdr {
    background-color : white;
    color : #000;
    margin : 1px;
    padding : 1px;
}
div.pageframe {
    background-color : white;
    border: none;
    color : #000;
    margin : 1px;
    padding : 1px;
    min-width : 50px;
    max-width : 1050px;
}
div.pnltextm {
    background-color : white;
    color : #000;
    margin : 1px;
    padding : 20px;
    padding-top : 10px;
    padding-left : 30px;
    padding-right : 30px;
}
div.pnlpoemm {
    background-color : white;
    color : #000;
    margin-left : -10px;
    margin-right : -10px;
}
div.boxbrdlouter {
    border-color : black;
}
div.boxbrdlinner {
    border-color : black;
}
div.boxbrdcouter {
    border-color : black;
}
div.boxbrdcinner {
    border-color : black;
}
div.boximglouter {
    border-color : black;
}
div.boximglinner {
    border-color : black;
}
div.boximgcouter {
    border-color : black;
}
div.boximgcinner {
    border-color : black;
}
div.pnlmainlft {
    float : none;
    width : 99%;
}
div.pnlmainrgt {
    float : none;
    width : 99%;
}/*
  **********************************************************************
  **********************************************************************
  *** END
  **********************************************************************
  **********************************************************************
 */